@tailwind base;
@tailwind components;
@tailwind utilities;

.reactMarkDown h1,
.reactMarkDown h2,
.reactMarkDown h3,
.reactMarkDown h4,
.reactMarkDown h5,
.reactMarkDown h6 {
  color: black;
  font-weight: 700;
  /* text-align: center; */
}
.reactMarkDown h1 {
  font-size: xx-large;
  margin: 2rem 0;
}
.reactMarkDown h2 {
  font-size: x-large;
  margin: 1.5rem 0;
  /* font-weight: 600; */
}
.reactMarkDown h3 {
  font-size: large;
  margin: 1rem 0;
  font-weight: 600;
}
.reactMarkDown h4 {
  font-size: medium;
  margin: 0.75rem 0;
  font-weight: 500;
}

.reactMarkDown h5 {
  font-size: small;
  margin: 0.5rem 0;
  font-weight: 500;
}

.reactMarkDown h6 {
  font-size: small;
  margin: 0.25rem 0;
  font-weight: 400;
}

.reactMarkDown ul {
  margin: 1rem 0;
  list-style: disc outside none;
  text-align: left;
}

.reactMarkDown ul li {
  margin-left: 2em;
  display: list-item;
  /* text-align: -webkit-match-parent; */
}

.reactMarkDown img {
  width: 1000px;
  aspect-ratio: 16/9;
  margin: 1rem auto;
}
